:root {
  --debug-viewer-safe-area: 0;
  --safe-area-border-width: calc(2px * var(--debug-viewer-safe-area));
}

* {
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

div#rg-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

div#rg-viewer {
  width: 100vw;
  height: 100vh;
  pointer-events: var(--pointer-events);
  margin-top: var(--viewer-margin-top);
  transform-origin: top left;
  transform: translateX(var(--horizontal-translate)) translateY(var(--vertical-translate))
    scale(var(--scale));
  line-height: var(--line-height);
}

div.rg-content-wrapper {
  outline: solid var(--safe-area-border-width) red;
  margin: var(--safe-area-margin-correction);
  height: calc(100% - var(--padding-top) - var(--padding-bottom));
  padding: var(--padding-top) 0 var(--padding-bottom) 0;
  clear: both;
  cursor: var(--drag-cursor, grab);
  user-select: none;
  box-sizing: content-box;
}

div.rg-content-wrapper #rg-content-placeholder * {
  backface-visibility: unset;
  -webkit-backface-visibility: unset;
  user-select: var(--user-select);
  -webkit-user-select: var(--user-select);
}

div.rg-content-wrapper #rg-content-placeholder *::selection {
  background-color: transparent;
}

.rg-flow-layout div.rg-content-wrapper {
  padding: var(--padding-top) calc(var(--column-gap) / 2) var(--padding-bottom);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper {
  column-count: var(--column-count);
  column-rule: 1px solid #eee;
  column-gap: var(--column-gap);
  column-width: var(--column-width);
}

.rg-flow-layout.rg-vertical-scroll div#rg-content-placeholder {
  overflow: hidden;
}

.rg-fixed-layout.rg-horizontal-scroll div.rg-content-wrapper div#rg-content-placeholder {
  width: var(--total-width);
  height: auto;
}

.rg-fixed-layout.rg-horizontal-scroll div.rg-content-wrapper div#rg-content-placeholder > * {
  float: left;
  contain: size;
  content-visibility: auto;
  background-color: #ccc;
}

.rg-fixed-layout div.rg-content-wrapper div#rg-content-placeholder > * {
  position: relative;
}

.rg-fixed-layout.rg-vertical-scroll div.rg-content-wrapper div#rg-content-placeholder {
  height: var(--total-height);
  width: auto;
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-ready,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper video,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper table,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper iframe {
  max-width: var(--column-width);
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-ready {
  pointer-events: none;
  cursor: pointer;
  max-height: min(
    calc(100vh - var(--padding-top) - var(--padding-bottom)),
    calc(var(--image-ratio, 100) * var(--column-width))
  ) !important;
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-fit-height {
  display: block !important;
  width: unset !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.rg-loading::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #ccc;
}

@media (max-width: 48em) {
  .rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-fit-height {
    max-height: min(
      calc(100vh - var(--padding-top) - var(--padding-bottom) - 65px),
      calc(var(--image-ratio, 100) * var(--column-width))
    ) !important;
  }
}

div.rg-content-wrapper.rg-force-text-align * {
  text-align: var(--text-align) !important;
}

div.rg-total-width-calculator,
div.rg-end-of-chapter-calculator {
  width: 100%;
  height: 0px;
  font-size: 0px;
  user-select: var(--user-select-end);
  -webkit-user-select: var(--user-select-end);
}

div.rg-pages-labels {
  position: absolute;
  top: 100%;
  height: 3em;
  font-size: var(--font-size);
  width: var(--total-width);
  overflow: visible;
}

div.rg-pages-labels > .rg-label {
  position: relative;
  padding-top: 1px;
  width: var(--total-column-width);
  float: left;
  height: 2em;
  pointer-events: none;
}

div.rg-pages-labels > .rg-label p {
  border-top: 1px solid #eee;
  margin: 0 1em;
  text-align: center;
  font-weight: 600;
  line-height: 3em;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

div.rg-highlights-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  mix-blend-mode: multiply;
}

div.rg-highlights-layer.rg-selection {
  --highlighter-color: var(--current-selection-highlights-color);
}

div.rg-highlights-layer.rg-search {
  --highlighter-color: var(--search-highlights-color);
}

div.rg-highlights-layer.rg-selection > div,
div.rg-highlights-layer.rg-search > div {
  pointer-events: none;
}

div.rg-highlights-layer > div {
  position: absolute;
  border: none;
}

div.rg-highlights-layer > div {
  background-color: var(--highlighter-color);
  pointer-events: var(--highlights-pointer-events);
}

div.rg-highlights-layer .rg-left-extensor,
div.rg-highlights-layer .rg-right-extensor {
  background-color: var(--current-selection-extensors-color);
  border-radius: 100%;
  pointer-events: all;
}

div.rg-highlights-layer > .rg-left-extensor {
  border-top-right-radius: 0;
  cursor: e-resize;
}

div.rg-highlights-layer > .rg-right-extensor {
  border-top-left-radius: 0;
  cursor: e-resize;
}

div.rg-selection-menu,
div.rg-selection-menu .rg-selection-menu-wrapper,
div.rg-selection-menu .rg-selection-menu-wrapper .rg-selection-menu-holder,
div.rg-notes-dialog,
div.rg-notes-dialog .rg-notes-dialog-wrapper,
div.rg-notes-dialog .rg-notes-dialog-wrapper .rg-notes-dialog-holder,
div.rg-notes-dialog .rg-notes-dialog-wrapper .rg-notes-dialog-holder fieldset,
div.rg-notes-dialog .rg-notes-dialog-header,
div.rg-notes-dialog .rg-notes-dialog-header-title,
div.rg-notes-dialog .rg-notes-dialog-header-buttons,
div.rg-notes-dialog .rg-notes-dialog-text-holder,
div.rg-confirmation-dialog,
div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper,
div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper .rg-confirmation-dialog-holder,
div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper .rg-confirmation-dialog-buttons {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

div.rg-selection-menu,
div.rg-notes-dialog,
div.rg-confirmation-dialog {
  position: absolute;
  z-index: 900;
  pointer-events: auto;
}

div.rg-notes-dialog,
div.rg-confirmation-dialog {
  font-family: Muli, Helvetica, sans-serif;
}

div.rg-selection-menu.rg-bottom-arrow,
div.rg-notes-dialog.rg-bottom-arrow,
div.rg-confirmation-dialog.rg-bottom-arrow {
  transform: translateX(-50%) translateY(-100%) scale(calc(1 / var(--scale)));
}

div.rg-selection-menu.rg-top-arrow,
div.rg-notes-dialog.rg-top-arrow,
div.rg-confirmation-dialog.rg-top-arrow {
  transform: translateX(-50%) scale(calc(1 / var(--scale)));
}

div.rg-selection-menu .rg-selection-menu-wrapper,
div.rg-notes-dialog .rg-notes-dialog-wrapper,
div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper {
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  padding: 15px 20px;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 15px);
}

div.rg-selection-menu .rg-selection-menu-wrapper:before,
div.rg-notes-dialog .rg-notes-dialog-wrapper:before,
div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-right-radius: 5px;
}

div.rg-selection-menu.rg-bottom-arrow .rg-selection-menu-wrapper:before,
div.rg-notes-dialog.rg-bottom-arrow .rg-notes-dialog-wrapper:before,
div.rg-confirmation-dialog.rg-bottom-arrow .rg-confirmation-dialog-wrapper:before {
  bottom: -10px;
}

div.rg-selection-menu.rg-top-arrow .rg-selection-menu-wrapper:before,
div.rg-notes-dialog.rg-top-arrow .rg-notes-dialog-wrapper:before,
div.rg-confirmation-dialog.rg-top-arrow .rg-confirmation-dialog-wrapper:before {
  top: -10px;
}

div.rg-notes-dialog .rg-notes-dialog-header-title p {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

div.rg-notes-dialog form {
  width: 100%;
  margin: 0;
  padding: 0;
}

div.rg-notes-dialog fieldset {
  width: 100%;
  height: 100%;
  border: 0;
}

div.rg-notes-dialog .rg-notes-dialog-wrapper .rg-notes-dialog-header,
div.rg-notes-dialog .rg-notes-dialog-wrapper .rg-notes-dialog-text-holder,
div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper .rg-confirmation-dialog-holder {
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}

div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper .rg-confirmation-dialog-holder {
  flex-flow: column nowrap;
}

div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper .rg-confirmation-dialog-holder p {
  font-size: 0.825rem;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
}

div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper .rg-confirmation-dialog-buttons {
  margin-top: 10px;
}

div.rg-confirmation-dialog .rg-confirmation-dialog-wrapper .rg-confirmation-dialog-buttons button {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  user-select: none;
  font-size: 0.625rem;
  transition: background-color 0.2s ease-in 0s, border-color 0.2s ease-in 0s;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
  min-width: 0px;
  min-height: 20px;
  border-radius: 32px;
  background-color: #f2b818;
  border: 2px solid #f2b818;
  color: #ffffff;
  padding: 5px 10px;
}

div.rg-confirmation-dialog
  .rg-confirmation-dialog-wrapper
  .rg-confirmation-dialog-buttons
  button:hover {
  background-color: #ca970b;
  border-color: #ca970b;
}

div.rg-confirmation-dialog
  .rg-confirmation-dialog-wrapper
  .rg-confirmation-dialog-buttons
  button
  + button {
  margin-left: 10px;
}

div.rg-notes-dialog .rg-notes-dialog-wrapper .rg-notes-dialog-header-buttons {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

div.rg-notes-dialog .rg-notes-dialog-wrapper .rg-notes-dialog-text-holder {
  margin-top: 10px;
}

div.rg-notes-dialog textarea {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-size: 0.75rem;
  color: #979797;
  padding: 10px;
  width: 100%;
  min-width: 250px;
  height: 100px;
  resize: vertical;
  outline: none;
}

div.rg-notes-dialog textarea:hover,
div.rg-notes-dialog textarea:focus {
  border-color: #979797;
}

div.rg-selection-menu .rg-selection-menu-wrapper .rg-selection-menu-holder .rg-selection-option,
div.rg-notes-dialog .rg-notes-dialog-wrapper .rg-notes-dialog-holder .rg-notes-option {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  user-select: none;
  background-color: #fff;
  width: 1.375rem;
  min-width: 1.375rem;
  height: 1.375rem;
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
}

div.rg-selection-menu .rg-selection-menu-wrapper .rg-selection-menu-holder .rg-separator {
  display: flex;
  background-color: #f3f3f3;
  height: 30px;
  min-height: 30px;
  width: 3px;
  min-width: 3px;
  border-radius: 3px;
  margin-left: 15px;
  margin-right: 15px;
}

div.rg-notes-dialog .rg-notes-dialog-wrapper .rg-notes-dialog-holder .rg-notes-dialog-note {
  border: 1px solid #f3f3f3;
  font-size: 0.75rem;
  padding: 10px;
  width: 100%;
  min-width: 250px;
  color: #979797;
  letter-spacing: 0px;
  border-radius: 5px;
}

.rg-selection-option,
.rg-notes-option {
  overflow: hidden;
  text-indent: -1000%;
}

.rg-selection-option + .rg-selection-option {
  margin-left: 15px;
}

.rg-notes-option + .rg-notes-option {
  margin-left: 10px;
}

.rg-notes-option:last-of-type {
  margin-right: 10px;
}

.rg-selection-option:after,
.rg-notes-option:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rg-notes-save:after,
.rg-notes-cancel:after,
.rg-notes-edit:after,
.rg-notes-delete:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
}

.rg-notes-save:after,
.rg-notes-cancel:after {
  width: 20px;
  height: 24px;
  transform: translate(-60%, -50%);
}

.rg-selection-option:after,
.rg-notes-option:after {
  background-color: var(--highlighter-color);
}

.rg-notes-dialog-header-buttons span {
  display: flex;
  background-color: #f3f3f3;
  height: 20px;
  min-height: 20px;
  width: 3px;
  min-width: 3px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.rg-notes-save,
.rg-notes-cancel,
.rg-notes-edit,
.rg-notes-delete {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  user-select: none;
  background-color: #00000000;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  border: 0;
  cursor: pointer;
  outline: none;
}

.rg-notes-save:after,
.rg-notes-cancel:after,
.rg-notes-edit:after,
.rg-notes-delete:after {
  background-color: #979797;
}

.rg-notes-save:hover:after,
.rg-notes-cancel:hover:after,
.rg-notes-edit:hover:after,
.rg-notes-delete:hover:after {
  background-color: #4d4d4d;
}

.rg-notes-save:after {
  mask: url(../img/icons/check.svg);
  -webkit-mask: url(../img/icons/check.svg);
}

.rg-notes-edit:after {
  mask: url(../img/icons/edit.svg);
  -webkit-mask: url(../img/icons/edit.svg);
}

.rg-notes-cancel:after {
  background-color: #979797;
  mask: url(../img/icons/close.svg);
  -webkit-mask: url(../img/icons/close.svg);
}

.rg-selection-option.highlighter:after {
  mask: url(../img/icons/highlighter.svg);
  -webkit-mask: url(../img/icons/highlighter.svg);
}

.rg-selection-option.highlighter:hover:after,
.rg-selection-option.highlighter.rg-selected:after {
  mask: url(../img/icons/highlighterOn.svg);
  -webkit-mask: url(../img/icons/highlighterOn.svg);
}

.rg-selection-option.note:after,
.rg-notes-option:after {
  mask: url(../img/icons/note.svg);
  -webkit-mask: url(../img/icons/note.svg);
}

.rg-selection-option.note:hover:after,
.rg-selection-option.note.rg-selected:after,
.rg-notes-option:hover:after,
.rg-notes-option.rg-selected:after {
  mask: url(../img/icons/noteOn.svg);
  -webkit-mask: url(../img/icons/noteOn.svg);
}

.rg-selection-option.rg-delete:after,
.rg-notes-delete:after {
  background-color: #979797;
  mask: url(../img/icons/delete.svg);
  -webkit-mask: url(../img/icons/delete.svg);
}

.rg-selection-option.rg-delete:hover:after {
  background-color: #4d4d4d;
}
