:root {
  --border-radius: 10px;
  --debug-viewer-safe-area: 0;
  --safe-area-border-width: calc(1px * var(--debug-viewer-safe-area));
  --animation-speed: 0;
  --animation-speed-value: calc(1s * var(var(--animation-speed)));
  --viewer-margin-top: 100vh;
  --column-count: 2;
  --column-gap: 0px;
  --content-wrapper-height: 100vh;
  --content-wrapper-padding: 0;
}

div#rg-viewer {
  width: 100vw;
  height: 100vh;
  border: solid var(--safe-area-border-width) red;
  transition: filter var(--animation-speed-value) linear 0ms,
    transform var(--animation-speed-value) cubic-bezier(0.175, 0.885, 0.32, 1.2)
      0ms;
  transform: translateX(var(--horizontalScrollFix, 0)) translateY(-30px)
    scale(0.75);
  filter: contrast(var(--contrastViewerColor, 1))
    sepia(var(--sepiaViewerColor, 0)) invert(var(--invertViewerColor, 0));
  background-color: white;
  margin-top: var(--viewer-margin-top);
}

div.rg-content-wrapper {
  padding: var(--content-wrapper-padding);
  column-count: var(--column-count);
  column-rule: 1px solid #eee;
  column-gap: var(--column-gap);
  height: var(--content-wrapper-height);
  hyphens: auto;
  clear: both;
  cursor: var(--drag-cursor, grab);
  user-select: none;
  -webkit-user-select: none;
}