:root {
  --debug-viewer-safe-area: 0;
  --safe-area-border-width: calc(2px * var(--debug-viewer-safe-area));
}

* {
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

div#rg-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

div#rg-viewer {
  width: 100vw;
  height: 100vh;
  pointer-events: var(--pointer-events);
  margin-top: var(--viewer-margin-top);
  transform-origin: top left;
  transform: translateX(var(--horizontal-translate)) translateY(var(--vertical-translate))
    scale(var(--scale));
  line-height: var(--line-height);  
}

div.rg-content-wrapper {
  outline: solid var(--safe-area-border-width) red;
  margin: var(--safe-area-margin-correction);
  height: calc(100% - var(--padding-top) - var(--padding-bottom));
  padding: var(--padding-top) 0 var(--padding-bottom) 0;
  clear: both;
  cursor: var(--drag-cursor, grab);
  user-select: none;
}

div.rg-content-wrapper #rg-content-placeholder * {
  backface-visibility: unset;
  -webkit-backface-visibility: unset;
  user-select: var(--user-select);
  -webkit-user-select: var(--user-select);
}

div.rg-content-wrapper #rg-content-placeholder *::selection {
  background-color: transparent;
}

.rg-flow-layout div.rg-content-wrapper {
  padding: var(--padding-top) calc(var(--column-gap) / 2) var(--padding-bottom);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper {
  column-count: var(--column-count);
  column-rule: 1px solid #eee;
  column-gap: var(--column-gap);
  column-width: var(--column-width);
}

.rg-flow-layout.rg-vertical-scroll div#rg-content-placeholder {
  overflow: hidden;
}

.rg-fixed-layout.rg-horizontal-scroll div.rg-content-wrapper div#rg-content-placeholder {
  width: var(--total-width);
  height: auto;
}

.rg-fixed-layout.rg-horizontal-scroll div.rg-content-wrapper div#rg-content-placeholder > * {
  float: left;
  contain: size;
  content-visibility: auto;
  background-color: #ccc;
}

.rg-fixed-layout div.rg-content-wrapper div#rg-content-placeholder > * {
  position: relative;
}

.rg-fixed-layout.rg-vertical-scroll div.rg-content-wrapper div#rg-content-placeholder {
  height: var(--total-height);
  width: auto;
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-ready,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper video,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper table,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper iframe {
  max-width: var(--column-width);
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img {
  pointer-events: none;
  cursor: pointer;
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-fit-height {
  max-height: calc(100vh - var(--padding-top) - var(--padding-bottom)) !important;
  width: unset !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}

.rg-loading::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #ccc;
}

@media (max-width: 48em) {
  .rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-fit-height {
    max-height: calc(100vh - var(--padding-top) - var(--padding-bottom) - 65px) !important;
  }
}

div.rg-content-wrapper.rg-force-text-align * {
  text-align: var(--text-align) !important;
}

div.rg-total-width-calculator,
div.rg-end-of-chapter-calculator {
  width: 100%;
  height: 0px;
  font-size: 0px;
  user-select: var(--user-select-end);
  -webkit-user-select: var(--user-select-end);
}

div.rg-pages-labels {
  position: absolute;
  top: 100%;
  height: 3em;
  font-size: var(--font-size);
  width: var(--total-width);
  overflow: visible;
}

div.rg-pages-labels > .rg-label {
  position: relative;
  padding-top: 1px;
  width: var(--total-column-width);
  float: left;
  height: 2em;
  pointer-events: none;
}

div.rg-pages-labels > .rg-label p {
  border-top: 1px solid #eee;
  margin: 0 1em;
  text-align: center;
  font-weight: 600;
  line-height: 3em;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

div.rg-highlights-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

div.rg-highlights-layer > div {
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: #fffff7;
  border-radius: 2px;
}

div.rg-highlights-layer.rg-selection > div {
  background-color: var(--current-selection-highlights-color);
}

div.rg-highlights-layer.rg-search > div {
  background-color: var(--search-highlights-color);
}

div.rg-highlights-layer .rg-left-extensor,
div.rg-highlights-layer .rg-right-extensor {
  background-color: var(--current-selection-extensors-color);
  border-radius: 100%;
  pointer-events: all;
}

div.rg-highlights-layer > .rg-left-extensor {
  border-top-right-radius: 0;
  cursor: e-resize;
}

div.rg-highlights-layer > .rg-right-extensor {
  border-top-left-radius: 0;
  cursor: e-resize;
}
