html, body {
  margin: 0;
}

body {
  height: 100vh;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: #fff;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
}

div#rg-viewer {
  width: 100vw;
  height: 100vh;
  border: solid var(--safe-area-border-width) red;
  margin: var(--safe-area-margin-correction);
  margin-top: var(--viewer-margin-top);
  transition: filter var(--animation-speed-value) linear 0ms,
    transform var(--animation-speed-value) cubic-bezier(0.175, 0.885, 0.32, 1.2) 0ms;
  transform: translateX(var(--horizontal-translate)) translateY(var(--vertical-translate))
    scale(var(--scale));
  filter: contrast(var(--contrast-viewer-color)) sepia(var(--sepia-viewer-color))
    invert(var(--invert-viewer-color));
  background-color: white;
  line-height: var(--line-height);
}

div.rg-content-wrapper {
  height: 100%;
  padding: var(--content-wrapper-padding);
  clear: both;
  cursor: var(--drag-cursor, grab);
  user-select: none;
  -webkit-user-select: none;
}

.rg-vertical-scroll div.rg-content-wrapper {
  overflow-y: scroll;
}

.rg-flow-layout div.rg-content-wrapper {
  padding: 0 calc(var(--column-gap) / 2) 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  hyphens: auto;
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper {
  column-count: var(--column-count);
  column-rule: 1px solid #eee;
  column-gap: var(--column-gap);
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper div.rg-content-placeholder {
  height: 100%;
  width: var(--total-width);
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-ready,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper video,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper table,
.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper iframe {
  max-width: calc(var(--column-width) - var(--column-gap) - var(--column-gap-compensation));
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img {
  pointer-events: none;
  cursor: pointer;
}

.rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-fit-height {
  max-height: calc(100vh - var(--padding-top) - var(--padding-bottom)) !important;
  width: unset !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}

@media (max-width: 48em) {
  .rg-flow-layout.rg-horizontal-scroll div.rg-content-wrapper img.rg-fit-height {
    max-height: calc(100vh - var(--padding-top) - var(--padding-bottom) - 65px) !important;
  }
}

div.rg-content-wrapper.rg-force-text-align * {
  text-align: var(--text-align) !important;
}

div.rg-total-width-calculator,
div.rg-end-of-chapter-calculator {
  width: 100%;
  height: 0px;
}

div.rg-pages-labels {
  position: relative;
  bottom: 1em;
  height: 2em;
  width: var(--total-width);
  overflow: visible;
}

div.rg-pages-labels > .rg-label {
  position: relative;
  width: var(--total-column-width);
  float: left;
  height: 2em;
  pointer-events: none;
}

div.rg-pages-labels > .rg-label p {
  border-top: 1px solid #eee;
  margin: 0 1em;
  text-align: center;
  font-weight: 600;
  line-height: 3em;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

div.rg-highlights-layer {
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: #fffff7;
  border-radius: 2px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

div.rg-highlights-layer.rg-selection {
  background-color: var(--current-selection-highlights-color);
}

div.rg-highlights-layer.rg-search {
  background-color: var(--search-highlights-color);
}

div.rg-highlights-layer .rg-left-extensor,
div.rg-highlights-layer .rg-right-extensor {
  background-color: var(--current-selection-extensors-color);
  border-radius: 100%;
  pointer-events: all;
}

div.rg-highlights-layer > .rg-left-extensor {
  border-top-right-radius: 0;
  cursor: e-resize;
}

div.rg-highlights-layer > .rg-right-extensor {
  border-top-left-radius: 0;
  cursor: e-resize;
}
