body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: #fff;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
}

div#rg-viewer {
  width: 100vw;
  height: 100vh;
  border: solid var(--safe-area-border-width) red;
  margin: var(--safe-area-margin-correction);
  transition: filter var(--animation-speed-value) linear 0ms,
    transform var(--animation-speed-value) cubic-bezier(0.175, 0.885, 0.32, 1.2)
      0ms;
  transform: translateX(--horizontal-translate) translateY(--vertical-translate)
    scale(--scale);
  filter: contrast(var(--contrast-viewer-color))
    sepia(var(--sepia-viewer-color)) invert(var(--invert-viewer-color));
  background-color: white;
  margin-top: var(--viewer-margin-top);
  scroll-snap-align: none;
  scroll-snap-type: var(--snap-type);
  line-height: var(--line-height);
}

div.rg-content-wrapper {
  padding: var(--content-wrapper-padding);
  column-count: var(--column-count);
  column-rule: 1px solid #eee;
  column-gap: var(--column-gap);
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family);
  hyphens: auto;
  clear: both;
  cursor: var(--drag-cursor, grab);
  user-select: none;
  -webkit-user-select: none;
}

div.rg-content-wrapper.rg-force-text-align {
  text-align: var(--text-align) !important;
}

div.rg-additional-page {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  clear: both;
}

div.rg-additional-page.rg-real-end-of-chapter {
  opacity: 0;
}

div.rg-total-width-calculator,
div.rg-end-of-chapter-calculator {
  width: 100%;
  height: 0px;
}

div.rg-pages-labels {
  position: relative;
  bottom: 1em;
  height: 2em;
  width: var(--total-width);
  overflow: visible;
}

div.rg-pages-labels > .label {
  position: relative;
  width: var(--column-width);
  float: left;
  height: 2em;
  pointer-events: none;
}

div.rg-pages-labels > .label p {
  border-top: 1px solid #eee;
  margin: 0 1em;
  text-align: center;
  font-weight: 600;
  line-height: 3em;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

div.rg-highlights-layer {
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: #fffff7;
  border-radius: 2px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

div.rg-highlights-layer.rg-selection {
  background-color: var(--current-selection-highlights-color);
}

div.rg-highlights-layer.rg-search {
  background-color: var(--search-highlights-color);
}

div.rg-highlights-layer .rg-left-extensor,
div.rg-highlights-layer .rg-right-extensor {
  background-color: var(--current-selection-extensors-color);
  border-radius: 100%;
  pointer-events: all;
}

div.rg-highlights-layer > .rg-left-extensor {
  border-top-right-radius: 0;
  cursor: e-resize;
}

div.rg-highlights-layer > .rg-right-extensor {
  border-top-left-radius: 0;
  cursor: e-resize;
}
